h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  margin-bottom: 15px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 1090px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(#a1c4fd, #c2e9fb);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 180px;
}
.container .box span {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 60px;
  text-align: center;
  user-select: none;
  color: black;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.container .box span:hover {
  background: black;
  color: white;
}
.container .box span.active {
  transform: scale(0.9);
}

.container .box .tilde {
  width: 45px;
}
.container .box .backspace {
  width: 133px;
}
.container .box .tab {
  width: 118px;
}
.container .box .Capslk {
  width: 115px;
}
.container .box .enter {
  width: 137px;
}
.container .box .Shift {
  width: 126px;
}
.container .box .tilde {
  width: 45px;
}
.container .box .Space {
  width: 546px;
}
.container .box .specialkeys {
  width: 75px;
}
